**/*.tif
**/steerable/matlab/*.o
**/steerable/python/build/**
**/steerable/python/steerable.egg-info/**
**/steerable/python/*.so
**/steerable/python/*.cpp
**/steerable/matlab/**
.venv/
**/*.csv
**/*.png

