**/*.tif
**/steerable/matlab/*.o
**/steerable/python/build/**
**/steerable/python/steerable.egg-info/**
**/steerable/python/*.so
**/steerable/python/*.cpp
**/steerable/matlab/**
.venv/
**/*.csv
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.gz
**/*.log
**/*.xml
**/*.toc
**/*.lst
**/*.lot
**/*.out
**/*.lof
**/comparison/**
**/figures/**